# MultiIndex DataFrame

In [1]:
import numpy as np
import pandas as pd

In [3]:
neighborhoods = pd.read_csv("neighborhoods.csv")
neighborhoods

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...,...
248,MI,North Matthew,055 Clayton Isle,B-,C,B,C+
249,MT,Chadton,601 Richards Road,A-,D,D+,D
250,SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
251,VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
252,NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [5]:
neighborhoods = pd.read_csv("neighborhoods.csv",
index_col=[0, 1, 2])
neighborhoods

,,,Culture,Culture.1,Services,Services.1
NaN,NaN,NaN,Restaurants,Museums,Police,Schools
State,City,Street,NaN,NaN,NaN,NaN
MO,Fisherborough,244 Tracy View,C+,F,D-,A+
SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,B-,C,B,C+
MT,Chadton,601 Richards Road,A-,D,D+,D
SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [6]:
neighborhoods = pd.read_csv("neighborhoods.csv",
index_col=[0, 1, 2],
header=[0, 1])
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [7]:
neighborhoods.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [8]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [9]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [11]:
neighborhoods.columns.names = ["Category", "Subcategory"]

In [12]:
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [14]:
neighborhoods.index.get_level_values(0)
neighborhoods.index.get_level_values("State")

Index(['MO', 'SD', 'WV', 'AK', 'ND', 'ID', 'TN', 'DC', 'OH', 'ND',
       ...
       'AK', 'IA', 'ME', 'KS', 'WA', 'MI', 'MT', 'SC', 'VA', 'NE'],
      dtype='object', name='State', length=251)

In [15]:
neighborhoods.index.get_level_values(1)
neighborhoods.index.get_level_values("City")

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

## Sort MultiIndex DataFrame

In [19]:
neighborhoods.sort_index(level=2)

Category                                            Culture         Services  \
Subcategory                                     Restaurants Museums   Police
State City                 Street
MD    Sanchezmouth         003 Daniel Via                D+       C        C
ND    West Heather         005 Maxwell Fields            D+       C       C+
NY    West Christophertown 007 Macias Points              D      A-       B-
KS    Port Lindaberg       008 Mitchell Highway           F      D+       C+
VT    New Rubenville       010 Lucero Point              A+       B       C-
...                                                     ...     ...      ...
MO    Hendersonland        984 Williams Road             B+      A-       D-
WV    Kathrynstad          985 Sierra Estate              D      C+       A-
      Ryanfort             987 Derek Fall                 A      C+       C-
AL    Samuelville          989 Dean Plains               A-       F        D
MN    New Anthony          995 Jessica Haven             D+      D+       A-

Category
Subcategory                                     Schools
State City                 Street
MD    Sanchezmouth         003 Daniel Via             D
ND    West Heather         005 Maxwell Fields        C-
NY    West Christophertown 007 Macias Points         B+
KS    Port Lindaberg       008 Mitchell Highway       B
VT    New Rubenville       010 Lucero Point          A-
...                                                 ...
MO    Hendersonland        984 Williams Road         A+
WV    Kathrynstad          985 Sierra Estate          A
      Ryanfort             987 Derek Fall            C-
AL    Samuelville          989 Dean Plains            A
MN    New Anthony          995 Jessica Haven          F

[251 rows x 4 columns]

In [21]:
neighborhoods.sort_index(level=[1,2], ascending=[True, False])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [22]:
neighborhoods.sort_index(axis=1, level="Category", ascending=False)

Category                                   Services            Culture
Subcategory                                 Schools Police Restaurants Museums
State City               Street
MO    Fisherborough      244 Tracy View          A+     D-          C+       F
SD    Port Curtisville   446 Cynthia Inlet       D+      B          C-       B
WV    Jimenezview        432 John Common          B      F           A      A+
AK    Stevenshire        238 Andrew Rue          A-     A-          D-       A
ND    New Joshuaport     877 Walter Neck          B      B          D+      C-
...                                             ...    ...         ...     ...
MI    North Matthew      055 Clayton Isle        C+      B          B-       C
MT    Chadton            601 Richards Road        D     D+          A-       D
SC    Diazmouth          385 Robin Harbors       D+     B-           F       D
VA    Laurentown         255 Gonzalez Land       D-      F          C+      B-
NE    South Kennethmouth 346 Wallace Pass        A-      A          C-      B-

[251 rows x 4 columns]

In [25]:
neighborhoods.sort_index(axis=1, level="Subcategory", ascending=True)

,,Category,Culture,Services,Culture,Services
,,Subcategory,Museums,Police,Restaurants,Schools
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,F,D-,C+,A+
SD,Port Curtisville,446 Cynthia Inlet,B,B,C-,D+
WV,Jimenezview,432 John Common,A+,F,A,B
AK,Stevenshire,238 Andrew Rue,A,A-,D-,A-
ND,New Joshuaport,877 Walter Neck,C-,B,D+,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C,B,B-,C+
MT,Chadton,601 Richards Road,D,D+,A-,D
SC,Diazmouth,385 Robin Harbors,D,B-,F,D+
VA,Laurentown,255 Gonzalez Land,B-,F,C+,D-
NE,South Kennethmouth,346 Wallace Pass,B-,A,C-,A-

In [26]:
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [29]:
neighborhoods[[("Services","Schools"), ("Culture", "Museums")]]

Category                                   Services Culture
Subcategory                                 Schools Museums
State City               Street
MO    Fisherborough      244 Tracy View          A+       F
SD    Port Curtisville   446 Cynthia Inlet       D+       B
WV    Jimenezview        432 John Common          B      A+
AK    Stevenshire        238 Andrew Rue          A-       A
ND    New Joshuaport     877 Walter Neck          B      C-
...                                             ...     ...
MI    North Matthew      055 Clayton Isle        C+       C
MT    Chadton            601 Richards Road        D       D
SC    Diazmouth          385 Robin Harbors       D+       D
VA    Laurentown         255 Gonzalez Land       D-      B-
NE    South Kennethmouth 346 Wallace Pass        A-      B-

[251 rows x 2 columns]

In [30]:
neighborhoods["Services"]

Subcategory                                Police Schools
State City               Street
MO    Fisherborough      244 Tracy View        D-      A+
SD    Port Curtisville   446 Cynthia Inlet      B      D+
WV    Jimenezview        432 John Common        F       B
AK    Stevenshire        238 Andrew Rue        A-      A-
ND    New Joshuaport     877 Walter Neck        B       B
...                                           ...     ...
MI    North Matthew      055 Clayton Isle       B      C+
MT    Chadton            601 Richards Road     D+       D
SC    Diazmouth          385 Robin Harbors     B-      D+
VA    Laurentown         255 Gonzalez Land      F      D-
NE    South Kennethmouth 346 Wallace Pass       A      A-

[251 rows x 2 columns]

In [31]:
neighborhoods.loc["MO"]

Category                                 Culture         Services
Subcategory                          Restaurants Museums   Police Schools
City           Street
Fisherborough  244 Tracy View                 C+       F       D-      A+
East Connie    798 Joseph Orchard              B       D       A+      D+
Port Elizabeth 072 Mariah Creek                C      C-       D-       A
Hendersonland  984 Williams Road              B+      A-       D-      A+
New Bailey     424 Marissa Underpass          C-       F        F      B+
Josephfort     259 Robles Turnpike             D      A-       B-       D

In [33]:
neighborhoods.loc[("MO", "Fisherborough")]

C:\Users\singa\AppData\Local\Temp\ipykernel_26408\1930336145.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  neighborhoods.loc[("MO", "Fisherborough")]

Category           Culture         Services
Subcategory    Restaurants Museums   Police Schools
Street
244 Tracy View          C+       F       D-      A+

## Cross Section

In [34]:
neighborhoods.xs(level="State", key="MO")

Category                                 Culture         Services
Subcategory                          Restaurants Museums   Police Schools
City           Street
Fisherborough  244 Tracy View                 C+       F       D-      A+
East Connie    798 Joseph Orchard              B       D       A+      D+
Port Elizabeth 072 Mariah Creek                C      C-       D-       A
Hendersonland  984 Williams Road              B+      A-       D-      A+
New Bailey     424 Marissa Underpass          C-       F        F      B+
Josephfort     259 Robles Turnpike             D      A-       B-       D

In [39]:
neighborhoods.xs(axis=1, level="Subcategory", key="Schools")

Category                                   Services
State City               Street
MO    Fisherborough      244 Tracy View          A+
SD    Port Curtisville   446 Cynthia Inlet       D+
WV    Jimenezview        432 John Common          B
AK    Stevenshire        238 Andrew Rue          A-
ND    New Joshuaport     877 Walter Neck          B
...                                             ...
MI    North Matthew      055 Clayton Isle        C+
MT    Chadton            601 Richards Road        D
SC    Diazmouth          385 Robin Harbors       D+
VA    Laurentown         255 Gonzalez Land       D-
NE    South Kennethmouth 346 Wallace Pass        A-

[251 rows x 1 columns]